* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --txt: #484749;
  --bg-white-card: #fafafa;
  --bg-white-page: #ffffff;
  --bg-dark-page: #161722;
  --bg-dark-card: #25273c;
}

.all-unset {
  all: unset;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

input[type="button"] {
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;

  min-height: 100vh;

  font-family: "Josefin Sans", sans-serif;

  background: var(--bg-white-page);
}

.img-background {
  width: 100%;
  height: 240px;

  background: url(assets/background-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.todo {
  position: absolute;
  top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 750px;
}

.todo__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 30px;
}

.todo__title {
  font-weight: 700;
  font-size: 58px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

.todo__text {
  font-weight: 400;
  font-size: 18px;
  color: var(--txt);
}

.todo__add {
  display: flex;
  align-items: center;

  width: 100%;
  height: 50px;
  padding: 10px 15px;
  margin-bottom: 30px;
  border-radius: 3px;

  background: var(--bg-white-card);
}

.todo__add img {
  margin-right: 20px;
}

.todo__add input {
  width: 100%;
  height: 100%;
}

.todo__list {
  display: flex;
  flex-direction: column;

  width: 100%;

  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 10px 15px;
  border-radius: 3px;
  border-bottom: 1px solid #a7a6ab;

  background: var(--bg-white-card);
}

.item > input[type="checkbox"]:checked + h5 {
  text-decoration: line-through;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background: rgb(0, 0, 0, 0.5);
}

.modal.mostrar {
  display: flex;
}

.modal__aviso {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 300px;
  height: 100px;
  padding: 16px;
  border-radius: 8px;

  background: var(--bg-white-page);
}

.modal__header {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
}

.mostrar .modal__aviso {
  animation: modalAviso 0.3s;
}

.modal__editar {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 500px;
  padding: 16px;
  border-radius: 5px;

  background: var(--bg-white-page);
}

.modal__input {
  height: 36px;
  padding: 4px 8px;

  font-size: 18px;

  border-radius: 3px;
  border: 1px solid gray;
}

.modal__btn {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.modal__btn--confirm {
  padding: 10px 18px;
  border-radius: 5px;

  color: var(--bg-white-card);

  background: var(--bg-dark-card);
}

.modal__btn--deny {
  padding: 4px 18px;
  border-radius: 5px;

  color: var(--bg-white-card);

  background: var(--bg-dark-card);
}

@keyframes modalAviso {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 767px) {
}
