* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --txt: #484749;
  --bg-white-card: #fafafa;
  --bg-white-page: #ffffff;
  --bg-dark-page: #161722;
  --bg-dark-card: #25273c;
}

.all-unset {
  all: unset;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

input[type="button"] {
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  background: var(--bg-white-page);
}

.img-background {
  width: 100%;
  height: 240px;
  background: url(assets/background-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.todo {
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}

.todo__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.todo__title {
  font-weight: 700;
  font-size: 58px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

.todo__text {
  font-weight: 400;
  font-size: 18px;
  color: var(--txt);
}

.todo__add {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  margin-bottom: 30px;
  border-radius: 3px;
  background: var(--bg-white-card);
}

.todo__add img {
  margin-right: 20px;
}

.todo__add input {
  width: 100%;
  height: 100%;
}

.todo__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  border-radius: 3px;
  border-bottom: 1px solid #a7a6ab;
  background: var(--bg-white-card);
}

.item > input[type="checkbox"]:checked + h5 {
  text-decoration: line-through;
}

.btn-deny {
  padding: 2px;
}

.btn-edit {
  padding: 2px;
}

#modal-aviso {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgb(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#modal-aviso.mostrar {
  display: flex;
}

#modal-aviso-body {
  width: 240px;
  height: 50px;
  background: var(--color3);
  border-radius: 8px;
  text-align: center;
}

#modal-aviso-header {
  display: flex;
  justify-content: flex-end;
}

#modal-aviso-header button {
  background: var(--color4);
  border-radius: 8px;
  padding: 4px 8px;
}

#modal-aviso-body span {
  color: var(--color4);
}

.mostrar #modal {
  animation: modalAviso 0.3s;
}

#modal-editar {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgb(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#modal-editar-body {
  background: var(--color1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  padding: 16px;
  border-radius: 5px;
}

#modal-editar-body input {
  height: 26px;
  font-size: 14px;
}

#modal-editar-btn {
  display: flex;
  justify-content: end;
  gap: 8px;
}

#modal-btn-confirm {
  padding: 4px 18px;
  background: var(--color3);
  border-radius: 5px;
}

#modal-btn-deny {
  padding: 4px 18px;
  background: var(--color5);
  border-radius: 5px;
}

#modal-editar.mostrar {
  display: flex;
}

@keyframes modalAviso {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 767px) {
  h2 {
    font-weight: 800;
    font-size: 36px;
  }

  h4 {
    font-weight: 600;
    font-size: 24px;
  }

  .topoTarefas {
    width: 85%;
  }

  #listaTarefas {
    width: 90%;
  }
}
